torch
torchvision
torch-geometric
pygod
scipy>=1.6.0
python-coinmarketcap
coverage==7.2.7
ipykernel==6.29.4
langdetect==1.0.9
matplotlib==3.7.1
matplotlib-inline==0.1.6
networkx==3.0
numpy==1.24.2
pandas==1.5.3
phonenumbers==8.13.36
plotly==5.14.1
psycopg2-binary==2.9.5
pycountry==23.12.11
pytz==2023.3
pylint==3.1.0
sshtunnel==0.4.0
datetime
pyvis
gunicorn
nbformat
py2neo
seaborn
