torch
torchvision
torch-geometric
pandas
scikit-learn
networkx
python-coinmarketcap
coverage==7.6.10
langdetect==1.0.9
matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy
phonenumbers==8.13.49
plotly
pycountry==24.6.1
pytz==2023.3
sshtunnel==0.4.0
datetime
pyvis
gunicorn
nbformat
py2neo
seaborn
